/* 商品の概要 */

.post-show-page-main {
 background-color: red;
 /* width: 100vw;   */
 /* height: 100vh; */
 padding: 100px 200px;  
 /* display: flex; */
 /* align-items: center;
 justify-content: center; */  
}

.post-box {
  background-color: lightpink;
  /* width: 80vw; */
  /* height: 80vh; */
  /* display: flex; */
  /* justify-content: center; */
  padding: 10px;
 }

.image-map-area{
  width:  100%;
  height: 500px;
  display: flex;
  background-color: orange;
  padding: 10px;
  margin-bottom: 10px;

  /* width: 800px;
  height: 80px; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.post-image{
  width:  50%;
  height: 100%;
  position: relative;
  background-color: lightblue;
}

.post-title{
  width: 100%;
  height: 16%;
  position: absolute;
  color: white;
  font-size: 50px;
  /* font-weight: bold; */
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  padding: 3px 1px 1px 20px;
  /* background-color: lightyellow; */
}

.image_size{
  width: 100%;
  height: 100%;
  /* margin: 30px;  */
}

.shooting-location-map{
  width:  50%;
  height: 100%;
  background-color: lightgreen;
}

.go-icon-area{
  width: 50%;
  height: 40px;
  /* background-color: gray; */
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*************** 行きたい ***************/
.wanna-go-area{
  width: 25%;
  height: 40px;
  margin-right: 5px;
  display: flex;
  background-color: lightskyblue;
}  

.wanna-go-text{
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
}  

.wanna-go-icon-area{
  width: 25%;
  height: 40px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: black;
}

.wanna-go-icon{
  width: 100%;
  height: 100%;
}

.wanna-go-count{
  width: 25%;
  height: 40px;
  background-color: green;
}


/*************** 行った ***************/
.went-area{
  width: 25%;
  height: 40px;
  margin-left: 5px;
  display: flex;
  background-color: lightyellow;
}  

.went-text{
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
}  

.went-icon-area{
  width: 25%;
  height: 40px;
  background-color: brown;
}

.went-icon{
  width: 100%;
  height: 100%;
}

.went-count{
  width: 25%;
  height: 40px;
  background-color: lightgreen;
}


/*************** コメント ***************/
.comment-area-main{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightyellow;
}

.comment-area-sub{
  width: 80%;
  height: 120px;
  margin-top: 10px;
  background-color: purple;
  display: flex;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  flex-direction: column;
}

.comment-form-area{
  width: 100%;
  height: 100px ;
  margin-top: 9px; 
  background-color: orchid;
}

/* .comment-text{ */
  /* display: block; */
  /* margin-top: 10px; */
/* } */


.btn-area{
  width: 10%;
  height: 38px;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  background-color: gray;
}

.comment-btn{
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 1px; */
  background-color: lightcoral;
} 


/* .cancel-btn{
  width: 100px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  background-color: lightseagreen;
} */

/* 当初、作成していたコメントボタン */
/* .comment-btn{
  width: 49%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
} */





.comment-display-area{
  width: 80%;
  height: 300px;
  margin: 20px 0;
  background-color: gray;
  overflow: scroll;
}

.comment-row{
  width:  100%;
  height: 70px;
  margin: 10px 0;
  background-color: lightgray;
}

.commenter{
  width:  10%;
  height: 35px;
  /* margin: 10px 0; */
  color: gray;
  background-color: lightgreen;
}

.comment-sentence{
  width:  100%;
  height: 35px;
  /* margin: 10px 0; */
  background-color: lightsalmon;
}



/*************** 以下、詳細情報 ***************/

.post-detail-area-main{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  background-color: black; 
}


.post-detail-area-sub{
  width: 80%;   
  height: 600px;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: lightskyblue;
}

/*************** タイトルのテンプレ(文章が1行の場合) ***************/
.detail-title-01{
  width: 30%;   
  height: 30px;
  /* margin-top: 10px; */
  background-color: lightpink;
}

/**************** タイトルのテンプレ(文章が2行の場合) ****************/
.detail-title-02{
  width: 30%;   
  height: 60px;
  /* margin-bottom: 10px; */
  background-color: lightpink;
}

/**************** タイトルのテンプレ(文章が3行の場合) ****************/
.detail-title-03{
  width: 30%;   
  height: 90px;
  background-color: lightpink;
}

/**************** タイトルのテンプレ(補足情報の場合) ****************/
.detail-title-other{
  width: 30%;   
  height: 150px;
  background-color: lightpink;
}

/**************** タイトル欄1行目のテンプレ ****************/
.detail-title-row1{
  width: 50%;   
  height: 30px;
  margin: 4px 0px 0px 100px;
  background-color: yellow;  
}

/**************** タイトル欄2行目のテンプレ ****************/
.detail-title-row2{
  width: 50%;   
  height: 30px;
  margin: 2px 0px 0px 100px;
  background-color: lightgreen;  
}


/**************** 情報欄のテンプレ(文章が1行の場合)****************/
.detail-sentence-01{
  width: 70%;   
  height: 30px;
  /* margin-top: 10px; */
  background-color: lightcoral;
}

/**************** 情報欄のテンプレ(文章が2行の場合) ****************/
.detail-sentence-02{
  width: 70%;   
  height: 60px;
  /* margin-top: 10px; */
  background-color: lightcoral;
}

/**************** 情報欄のテンプレ(文章が3行の場合) ****************/
.detail-sentence-03{
  width: 70%;   
  height: 90px;
  /* margin-top: 10px; */
  background-color: lightcoral;
}

/**************** 情報欄のテンプレ(補足情報の場合) ****************/
.detail-sentence-other{
  width: 70%;   
  height: 150px;
  /* margin-top: 10px; */
  background-color: lightcoral;
}



/**************** 情報欄1行目のテンプレ ****************/
.detail-sentence-row1{
  width: 50%;   
  height: 26px;
  margin: 2px 0px 0px 0px;
  background-color: yellow;
}

/**************** 情報欄2行目のテンプレ ****************/
.detail-sentence-row2{
  width: 50%;   
  height: 26px;
  margin: 2px 0px 0px 0px;
  background-color: green;
}

/**************** 情報欄3行目のテンプレ ****************/
.detail-sentence-row3{
  width: 50%;   
  height: 26px;
  margin: 2px 0px 0px 0px;
  background-color: lightseagreen;
  }


.impression-point{
  width: 100%;   
  height: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  background-color: royalblue;
}

.shooting-season{
  width: 100%;   
  height: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  background-color: royalblue;
}

.shooting-location{
  width: 100%;   
  height: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  background-color: royalblue;
}

.parking{
  width: 100%;   
  height: 80px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  background-color: royalblue;
}

.public-transport{
  width: 100%;   
  height: 120px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  background-color: royalblue;
}

.other-information{
  width: 100%;   
  height: 180px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  background-color: royalblue;
}


/**************** 以上、詳細情報 ****************/



.user-btn-area{
  width: 30%;   
  height: 50px;
  margin: 50px 0;
  display: flex;
  justify-content: space-between; 
  background-color: greenyellow;
}

.edit-btn{
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightseagreen;
}

.delete-btn{
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
}







/* *************** 以下、furimaのコピペ *************** */


.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
}

.item-price-box>.item-postage {
  font-size: 16px;
}


.item-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  overflow-wrap: anywhere;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}


/* /商品の概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

/* .comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
} */

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}